/* GLOBAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--default-text);
  text-shadow: 1px 1px 1px black;

  --main-bg: #131b21;
  --second-bg: #202225;
  --default-text: #eeeeee;
  --low-contrast: #112d4e;
  --medium-contrast: #00adb5;
  --high-contrast: #ff2e63;
  --button-hover: #2e3035;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-bg);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #26292c;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #393b3d;
}

/* HEADER */

#header {
  z-index: 10;
  background-color: var(--second-bg);
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 0px 25px 0px 25px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 5px #0f1011;
}

.logoDiv {
  display: flex;
  align-items: center;
}

#header h1 {
  font-family: 'Bebas Neue', cursive;
  margin: 15px;
  font-size: 2.7rem;
}

#header img[alt='logo'] {
  height: 60px;
  border-radius: 50%;
}

.language-flag {
  width: 25px;
}

.mainLang {
  display: flex;
  font-size: 1.5rem;
  padding: 5px;
  width: 140px;
  font-family: 'Bebas Neue', cursive;
  transition: background-color 500ms;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mainLang:hover {
  background-color: var(--button-hover);
}

.language:nth-child(1) {
  border: none;
}

.language {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  width: 140px;
  border-top: 1px solid black;
  font-family: 'Bebas Neue', cursive;
}

#dropdown-container {
  width: 300px;
  height: 100%;
}

.dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.dropdown-content {
  border: 1px solid black;
  display: none;
  flex-direction: column;
  position: absolute;
  border-radius: 7.5px;
  background: var(--low-contrast);
  top: 80px;
}

.dropdown-content.active {
  display: flex;
}

.icon {
  font-size: 1.3rem;
}

#nav {
  flex-basis: 300px;
  display: flex;
  height: 100%;
}

.nav-item {
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 0px 10px 0px 10px;
  transition: background-color 500ms;
}

.nav-item:hover {
  background-color: var(--button-hover);
}

/* MAIN */

#lmain {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background: linear-gradient(-45deg, #0b1114 #131b21, #0b1114);
}

#main {
  padding: 0px 20px 0px 20px;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  width: 100%;
  min-height: calc(100vh - 75px);
}

#page1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.square {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.textSquare {
  display: inline;
  font-family: monospace;
  font-size: 1rem;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.textSquare .emphasis {
  font-size: 2rem;
  text-shadow: 1px 1px 5px black;
}

.addButton {
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  width: auto;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid black;
  background: linear-gradient(45deg, rgb(82, 82, 226), rgb(197, 82, 243));
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
  transition: transform 500ms;
}

.addButton > a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 0px 5px black;
}

#page2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

#commands {
  font-family: 'Roboto', sans-serif;
  background-color: #222831;
  border: 1px solid #00adb5;
  border-collapse: collapse;
}

#commands caption {
  font-size: 2rem;
}

#commands th {
  padding: 10px;
  background-color: #393e46;
}

#commands tbody tr {
  border-top: 1px solid var(--medium-contrast);
}

#commands td {
  border-left: 1px solid var(--medium-contrast);
  padding: 10px 3px 10px 10px;
}

/* FOOTER */

#footer {
  max-width: 1000px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#lfooter {
  box-shadow: 0px 0px 10px #0f1011;
  background-color: var(--second-bg);
  display: flex;
  justify-content: center;
  width: 100%;
}

#footer .lowSize {
  font-size: 0.8rem;
}



@media (max-width: 800px) {
  #nav {
    flex-basis: auto;
  }
  #dropdown-container {
    width: auto;
  }
}

@media (max-width: 1000px) {
  #hTitle {
    display: none;
  }
}
