/* GLOBAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--default-text);
  text-shadow: 1px 1px 1px black;

  --main-bg: #131b21;
  --second-bg: #202225;
  --default-text: #eeeeee;
  --low-contrast: #112d4e;
  --medium-contrast: #00adb5;
  --high-contrast: #ff2e63;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-bg);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #26292c;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #393b3d;
}

/* HEADER */

#header {
  background-color: var(--second-bg);
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 5px 25px 5px 25px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 5px #0f1011;
}

#header .logoDiv {
  display: flex;
  align-items: center;
}

#header h1 {
  font-family: 'Bebas Neue', cursive;
  margin: 15px;
  font-size: 2.7rem;
}

#header img[alt='logo'] {
  height: 60px;
  border-radius: 50%;
}

#header .language-flag {
  width: 25px;
}

#header .mainLang {
  display: flex;
  font-size: 1.5rem;
  padding: 5px;
  width: 140px;
  font-family: 'Bebas Neue', cursive;
}

#header .language:nth-child(1) {
  border: none;
}

#header .language {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  width: 140px;
  border-top: 1px solid black;
  font-family: 'Bebas Neue', cursive;
}

#header .dropdown {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

#header .dropdown-content {
  border: 1px solid black;
  display: none;
  flex-direction: column;
  position: absolute;
  border-radius: 7.5px;
  background: var(--low-contrast);
  top: 65px;
  right: 0px;
}

#header .dropdown-content.active {
  display: flex;
}

/* MAIN */

#lmain {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background: linear-gradient(-45deg, #0b1114 #131b21, #0b1114);
}

#main {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#page1 {
  display: flex;
  width: 100%;
  height: calc(100vh - 75px);
  align-items: center;
  justify-content: center;
}

.addButton {
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  width: auto;
  height: 80px;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  border: 1px solid black;
  background: linear-gradient(45deg, rgb(82, 82, 226), rgb(197, 82, 243));
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
  transition: transform 500ms;
}

.addButton:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 0px 5px black;
}

/* FOOTER */

#footer {
  max-width: 1000px;
  padding: 15px;
  text-align: center;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#lfooter {
  box-shadow: 0px 0px 10px #0f1011;
  background-color: var(--second-bg);
  display: flex;
  justify-content: center;
}

#footer .lowSize {
  font-size: 0.8rem;
}
